
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

.font {
    font-family: 'Roboto', sans-serif;
}

/* header */

.headerLogo {
    display: block;
    float: left;
    padding: 35px 40px;
}

a {
    text-decoration: none;
}

.header-navbar {
    display: flex;
    justify-content: flex-end;
    list-style: none;
    align-items: center;
    font-weight: bold;
}

.header-navbar-list {
    padding: 35px 30px;
}

.header-navbar-text {
    color: black;
}

.header-btnEnter {
    background-color: transparent;
    cursor: pointer;
    Width: 106px;
    Height: 43px;
    border-radius: 6px;
    margin: 0px 40px;
    padding: 5px 20px;
}

.header-btnText {
    font-weight: bold;
}

/* main */

.main-aboutUs {
    text-align: center;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.main-aboutUs-heading {
    font-size: 64px;
    font-weight: bold;
    margin: 60px 0px 30px;
}

.main-aboutUs-text {
    margin: 0 auto;
    font-size: 24px;
    width: 925px;
    height:105px;
    padding-bottom: 80px;
}

.main-contact {
    padding-top: 80px;
    background: #F7F9FB;
}

.main-contact-header {
    text-align: center;
    font-size: 48px;
    margin: 0 auto;
    padding-bottom: 40px;    
}

.main-contact-date {
    display: flex;
    text-align: center;
    padding-bottom: 104px; 
    justify-content: center;   
}

.main-contact-blockMail {
    border-right: 1px solid #C8C8CF;
    width: 20vw;    
}

.main-contact-blockPhone {
    width: 20vw;    
}

.main-contact-headerSizeText {
    margin: 0 auto;
    font-size: 14px;
}

.main-contact-SizeText {
    font-size: 20px;
    font-weight: bold;
    margin: 6px 70px 0px;
}

.main-team-header {
    font-size: 48px;
    text-align: center;
    padding-top: 80px;
    margin: 0 auto;
}

.main-team-cards {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.main-team-blockPerson {
    text-align: center;
    display: flex;
    flex-direction: column;
    padding-top: 55px;
}

.main-team-blockPerson + div {    
    margin-left: 80px;
}

.main-team-name {
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    margin: 0 auto;
    padding: 23px 0px 8px;
    font-size: 20px;
}

.main-team-position {
    text-align: center;
    color: #828282;
    margin: 0 auto;
    font-size: 14px;
}

/* footer */

.footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #3F3D56;
    height: 124px;
    margin-top: 120px;    
}

.footer-copyright {
    color: #FFFFFF;    
    margin-left: 40px;
}

.footer-socialNetworks {
    display: flex;
    margin-right: 40px;
}

.footer-socialNetworks-logo {
    margin: 20px;
}


